*, *::before, *::after{
    box-sizing: border-box;
}

header {
    text-align: center;
    color: orangered;
}

body {
    background-color: darkgreen;
    text-align: center;
}

main {
    text-align: center;
}
